
<footer>
	<div class="footer-content">
		<div class="item footer-logo">
			<img src="https://www.penguinrandomhouse.ca/themes/custom/penguin/images/logos/prh-logo.svg">
		</div>
		<div class="item quick-links">
			<h2>Quick Links</h2>
			<ul>
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Contact Us</a>
				</li>
				<li>
					<a href="#">Shop</a>
				</li>
			</ul>
		</div>
		<div class="item social-links">
			<h2>Social Links</h2>
			<ul>
				<li>
					<a href="tel:123-456-7890">123-456-7890</a>
				</li>

				<li>
					<a href="#">Social Two</a>
				</li>
				<li>
					<a href="#">Social Three</a>
				</li>
				<li>
					<a href="#">Social Four</a>
				</li>

			</ul>
		</div>
	</div>
	<div class="bottom">
		<a href="#">Pravacy Policy</a>
	</div>
</footer>

