<app-main-header></app-main-header>

<div id="home-page">
	<div class="subWrap1">
		<div class="item item-one">
			<div class="text-wrapper">
				<h1>About My Creation</h1>
				<p>
					Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Consequatur, nulla aspernatur odit quod autem atque sunt quas placeat facilis ad nam, magnam laborum deserunt pariatur labore unde natus cumque, quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi culpa possimus vel omnis dolore, architecto. Optio enim at ab consectetur maiores ad sapiente repellendus dolore recusandae iste dicta eaque, ut.
				</p>
			</div>
			<div class="content-btns">
				<a routerLink="/shop/order-page"><button mat-button actve class="btn btn-one">Buy Now</button></a>
				<a routerLink="/shop/contact-page"><button mat-button class="btn btn-two">Contact Us</button></a>
			</div>
		</div>
		<div class="item item-two">
			<img width="400px" src="../../../assets/images/cta1.jpeg">
		</div>
	</div>

	<div class="cta-wrapper">
		<div class="cta">
			<img src="../../../assets/images/cta1.jpeg">
			<div class="text-wrapper"><h2>Title</h2>
			<h3>Subtitle</h3>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, nemo! Saepe vel cumque, facere aspernatur porro eum a provident quisquam ut cupiditate enim nisi impedit sequi alias, debitis quibusdam dolorem!</p>
		</div>
		</div>
		<div class="cta">
			<img src="../../../assets/images/cta2.jpg">
			<div class="text-wrapper"><h2>Title</h2>
			<h3>Subtitle</h3>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, nemo! Saepe vel cumque, facere aspernatur porro eum a provident quisquam ut cupiditate enim nisi impedit sequi alias, debitis quibusdam dolorem!</p>
		</div>
		</div>
		<div class="cta">
			<img src="../../../assets/images/cta3.jpg">
			<div class="text-wrapper"><h2>Title</h2>
			<h3>Subtitle</h3>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, nemo! Saepe vel cumque, facere aspernatur porro eum a provident quisquam ut cupiditate enim nisi impedit sequi alias, debitis quibusdam dolorem!</p>
		</div>
		</div>
		<div class="cta">
			<img src="../../../assets/images/cta4.jpg">
			<div class="text-wrapper"><h2>Title</h2>
			<h3>Subtitle</h3>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, nemo! Saepe vel cumque, facere aspernatur porro eum a provident quisquam ut cupiditate enim nisi impedit sequi alias, debitis quibusdam dolorem!</p>
		</div>
		</div>
		<div class="cta">
			<img src="../../../assets/images/cta5.jpg">
			<div class="text-wrapper"><h2>Title</h2>
			<h3>Subtitle</h3>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, nemo! Saepe vel cumque, facere aspernatur porro eum a provident quisquam ut cupiditate enim nisi impedit sequi alias, debitis quibusdam dolorem!</p>
		</div>
		</div>
		<div class="cta">
			<img src="../../../assets/images/cta6.jpg">
			<div class="text-wrapper"><h2>Title</h2>
			<h3>Subtitle</h3>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, nemo! Saepe vel cumque, facere aspernatur porro eum a provident quisquam ut cupiditate enim nisi impedit sequi alias, debitis quibusdam dolorem!</p>
		</div>
		</div>
	</div>

	<!-- <input type="file" (change)="fileChangeEvent($event)" />

	<image-cropper
		[imageChangedEvent]="imageChangedEvent"
		[maintainAspectRatio]="true"
		[aspectRatio]="4 / 3"
		format="png"
		(imageCropped)="imageCropped($event)"
		(cropperReady)="cropperReady()"
		(loadImageFailed)="loadImageFailed()"
	></image-cropper>
	
	<img [src]="croppedImage" /> -->


	<div class="subWrap2 shop-bio">
		<div class="content">
			<div class="bio-image">
				<img src="https://www.biography.com/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTY2NTIzMzc4MTI2MDM4MjM5/vincent_van_gogh_self_portrait_painting_musee_dorsay_via_wikimedia_commons_promojpg.jpg" alt="Bio photo">
			</div>
			<div class="text-wrapper">
				<h2>Tomorrow</h2>
				<p>libero, esse omnis iste veritatis placeat sunt dolore unde minima ab, modi!</p>
			</div>
		</div>

	</div>	
</div>