<div id="main-header">
    <div class="main-header-img">
        <img src="../../../assets/images/main-home-photo.jpg" alt="">
        <h3>WELCOME TO</h3>
        <h1>WORKSHOP</h1>
    </div>
    <div class="recSearch">
        <div class="opacity-block"></div>
        <a href="#">
            <div class="recItem">Category One
                <span class="material-icons">
                navigate_next
                </span>
            </div>
        </a>
        <a href="#">
            <div class="recItem">Category Two
                <span class="material-icons">
                navigate_next
                </span>
            </div>
        </a>
        <a href="#">
            <div class="recItem">Category Three
                <span class="material-icons">
                navigate_next
                </span>
            </div>
        </a>
        <a href="#">
            <div class="recItem">Category Four
                <span class="material-icons">
                navigate_next
                </span>
            </div>
        </a>
    </div>
</div>