#admin-category-page{
    .modal-form{
        position: absolute;
        background: rgba(17, 97, 73, .5);
        z-index: 100000;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        position: fixed;
        overflow: auto;
        .form{
            position: relative;
        }
        .big-text-block{
            padding: 5px;
        }
        .header-block{
            padding: 5px;

        }
    }
}