<div class="post-form">
    <mat-card class="admin-main-form">

        <mat-card-subtitle>
        Create Post
    </mat-card-subtitle>

        <mat-card-content class="items">
        <form [formGroup]="adminPostForm" (ngSubmit)="onSubmit()">

            <mat-form-field class="form-field">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title">
            <button mat-button *ngIf="adminPostForm.controls.title.value" matSuffix mat-icon-button aria-label="Clear" (click)="adminPostForm.controls.title.reset()">
                <mat-icon>close</mat-icon>
            </button>
            </mat-form-field>

            <mat-form-field class="form-field">
            <mat-label>content</mat-label>
            <input matInput type="text" formControlName="content">
            <button mat-button *ngIf="adminPostForm.controls.content.value" matSuffix mat-icon-button aria-label="Clear" (click)="adminPostForm.controls.content.reset()">
                <mat-icon>close</mat-icon>
            </button>
            </mat-form-field>

            <mat-form-field class="form-field">
            <mat-label>Created By</mat-label>
            <input matInput type="text" formControlName="createdById">
            <button mat-button *ngIf="adminPostForm.controls.createdById.value" matSuffix mat-icon-button aria-label="Clear" (click)="adminPostForm.controls.createdById.reset()">
                <mat-icon>close</mat-icon>
            </button>
            </mat-form-field>


            <div class="chouse-file-input">
            <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
            <div><img [src]="url" *ngIf="url">
                <button mat-button *ngIf="adminPostForm.controls.imagePath.value" matSuffix mat-icon-button aria-label="Clear" (click)="adminPostForm.controls.imagePath.reset()">
                <mat-icon>close</mat-icon>
                </button>
            </div>
            <p>
                <input type="file" (change)="selectFile($event)" formControlName="imagePath">
            </p>
            </div>

            <button mat-button color="primary" type="submit" [disabled]="!adminPostForm.valid">Add Post</button>
            <button mat-button color="warn" class="close" (click)="close()">Close</button>

        </form>
        </mat-card-content>
    </mat-card>
</div>


