<div id="main-nav" [style.display]="mainNavDisplayNone">
  <a routerLink="/shop/home-page">
    Home
  </a>
  <mat-menu #aboveMenu="matMenu">
  </mat-menu>
  <a routerLink="/shop/order-page">
    Shop
  </a>
  <mat-menu #belowMenu="matMenu">
  </mat-menu>
  <a routerLink="/shop/blog-page">
    Blog
  </a>
  <mat-menu #beforeMenu="matMenu">
  </mat-menu>
  <a routerLink="/shop/category-page">
    Categories
  </a>
  <mat-menu #afterMenu="matMenu">
  </mat-menu>
  <a routerLink="/shop/about-page">
    About
  </a>
  <mat-menu #afterMenu="matMenu">
  </mat-menu>
  <a routerLink="/shop/reviews-page">
    Reviews
  </a>
  <mat-menu #afterMenu="matMenu">
  </mat-menu>
  <a routerLink="/shop/cart-page">
    <img width="35px" src="../../assets/images/shopping-cart-empty-side-view.svg" alt="Cart Icon">
  </a>
  <mat-menu #afterMenu="matMenu">
  </mat-menu>
</div>

<div id="phone-nav">
  <button class="burger" type="button" id="navToggle" (click)="dropNavBtn()"><span class="brgSpan"></span></button>
  </div>
