<div id="main-nav">
  <a routerLink="/shop/home-page">
    Home
  </a>
  <mat-menu #aboveMenu="matMenu">
  </mat-menu>
  <a routerLink="/shop/order-page">
    Shop
  </a>
  <mat-menu #belowMenu="matMenu">
  </mat-menu>
  <a routerLink="/shop/blog-page">
    Blog
  </a>
  <mat-menu #beforeMenu="matMenu">
  </mat-menu>
  <a routerLink="/shop/category-page">
    categories
  </a>
  <mat-menu #afterMenu="matMenu">
  </mat-menu>
</div>

<!-- <div id="phone-nav">
  <div class="burger">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="example-spacer"></span>
        <button  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div id="navigation">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Link One</span>
      </mat-toolbar-row>
    
      <mat-toolbar-row>
        <span>Link Two</span>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
    
      <mat-toolbar-row>
        <span>Link Three</span>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
    </div>
  </div> -->
