<app-secondary-header></app-secondary-header>
<div id="category-page">

	<h1>Here You Can Find Something For You</h1>
	<div class="categories">
		<div class="category" *ngFor="let category of testData">
			<div class="category-img">
				<img src="{{ category.imagePath }}" alt="">
			</div>
			<div class="wrapper">
				<div class="category-details">
					<h2>{{ category.title }}</h2>
					<p maxlength="30" id="desc">
						{{ category.description }}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>



