<app-secondary-header></app-secondary-header>
<div id="order-page">
	<h1>Here You Can Find Something For You</h1>
	<div class="products">
		<div class="product">
			<div class="product-img">
				<img src="http://cdn.cnn.com/cnnnext/dam/assets/200316114859-painting-skin-7-super-tease.jpg" alt="">
			</div>
			<div class="wrapper">
				<div class="product-details">
					<h2>Product title</h2>
					<p maxlength="30" id="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi vel odio illo possimus!  Eligendi vel odio illo possimus! 
					</p>
					<div class="price">$100</div>
					<hr>
					<div class="add-btn">
						<a type="button"  href="#"><button>Add to Card</button></a>
					</div>
				</div>
			</div>
		</div>
		<div class="product">
			<div class="product-img">
				<img src="https://cdn.britannica.com/33/3333-050-C7A90F6C/example-oil-method-colour-painting.jpg" alt="">
			</div>
			<div class="wrapper">
				<div class="product-details">
					<h2>Product title</h2>
					<p maxlength="30" id="desc">  Eligendi vel odio illo possimus! 
					</p>
					<div class="price">$100</div>
					<hr>
					<div class="add-btn">
						<a type="button" href="#"><button>Add to Card</button></a>
					</div>
				</div>
			</div>
		</div>
		<div class="product">
			<div class="product-img">
				<img src="https://instagram.fifo2-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/101228587_302712107561017_8186896282480793002_n.jpg?tp=1&_nc_ht=instagram.fifo2-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=3QErRNx6Ul4AX-leti_&ccb=7-4&oh=89cda5b6e2ef4eee1a5fa10d3e5551c7&oe=60890174&_nc_sid=4f375e" alt="">
			</div>
			<div class="wrapper">
				<div class="product-details">
					<h2>Product title</h2>
					<p maxlength="30" id="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi vel odio illo possimus!  Eligendi vel odio illo possimus! 
					</p>
					<div class="price">$100</div>
					<hr>
					<div class="add-btn">
						<a type="button" href="#"><button>Add to Card</button></a>
					</div>
				</div>
			</div>
		</div>
		<div class="product">
			<div class="product-img">
				<img src="https://cdn.britannica.com/33/3333-050-C7A90F6C/example-oil-method-colour-painting.jpg" alt="">
			</div>
			<div class="wrapper">
				<div class="product-details">
					<h2>Product title</h2>
					<p maxlength="30" id="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi vel odio illo possimus!  Eligendi vel odio illo possimus! 
					</p>
					<div class="price">$100</div>
					<hr>
					<div class="add-btn">
						<a type="button" href="#"><button>Add to Card</button></a>
					</div>
				</div>
			</div>
		</div>
		<div class="product">
			<div class="product-img">
				<img src="https://cdn.britannica.com/33/3333-050-C7A90F6C/example-oil-method-colour-painting.jpg" alt="">
			</div>
			<div class="wrapper">
				<div class="product-details">
					<h2>Product title</h2>
					<p maxlength="30" id="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi vel odio illo possimus!  Eligendi vel odio illo possimus! 
					</p>
					<div class="price">$100</div>
					<hr>
					<div class="add-btn">
						<a type="button" href="#"><button>Add to Card</button></a>
					</div>
				</div>
			</div>
		</div>
		<div class="product">
			<div class="product-img">
				<img src="https://cdn.britannica.com/33/3333-050-C7A90F6C/example-oil-method-colour-painting.jpg" alt="">
			</div>
			<div class="wrapper">
				<div class="product-details">
					<h2>Product title</h2>
					<p maxlength="30" id="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi vel odio illo possimus!  Eligendi vel odio illo possimus! 
					</p>
					<div class="price">$100</div>
					<hr>
					<div class="add-btn">
						<a type="button" href="#"><button>Add to Card</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



