<app-secondary-header></app-secondary-header>
<div id="cart-page">
    <h2>Our Orders</h2>
    <div class="orders">
        <div class="order">
            <h2>Post Title</h2>
            <h3>Posted by Date</h3>
            <div class="main-wrapper">
                <div class="image-wrapper">
                    <img src="https://i.pinimg.com/originals/e6/ff/59/e6ff5965d08633907887a115b65c24a6.png" alt="Post Image">
                </div>
                <div class="text-wrapper">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus impedit laudantium sint explicabo dolorem, mollitia quidem voluptatum, 
                        distinctio labore vitae sapiente delectus placeat atque, illum voluptates repellendus dignissimos quo ex.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo dolore distinctio tempore consectetur sapiente adipisci nulla eius saepe, eum hic animi qui perferendis voluptatibus 
                        ipsam earum suscipit delectus, quisquam tenetur.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>