<app-secondary-header></app-secondary-header>
<div id="cart-page">
    <div class="cart-body">
        <h2 class="cart-header">CART</h2>
        <div id="cart-item">
            <div class="image">
                <img width="150px" height="150px" src="https://static.posters.cz/image/750/beauty-of-the-nature-3in1-i96709.jpg" alt="">
            </div>
            <div class="text-wrapper">
                <h3 class="title">Title</h3>
                <p class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo corrupti dolore laboriosam. 
                </p>
                <p class="quantity">
                        Quantity: 2
                </p>
                <p class="price">
                    Price: 100 USD
                </p>
            </div>
            <div class="clear-item">
                <button>
                    <img width="30px" src="../../../assets/images/delete.svg" alt="">
                </button>
            </div>
        </div>
        <div id="cart-item">
            <div class="image">
                <img width="150px" height="150px" src="https://static.posters.cz/image/750/beauty-of-the-nature-3in1-i96709.jpg" alt="">
            </div>
            <div class="text-wrapper">
                <h3 class="title">Title</h3>
                <p class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo corrupti dolore laboriosam. 
                </p>
                <p class="quantity">
                        Quantity: 2
                </p>
                <p class="price">
                    Price: 100 USD
                </p>
            </div>
            <div class="clear-item">
                <button>
                    <img width="30px" src="../../../assets/images/delete.svg" alt="">
                </button>
            </div>
        </div>
        <div id="cart-item">
            <div class="image">
                <img width="150px" height="150px" src="https://static.posters.cz/image/750/beauty-of-the-nature-3in1-i96709.jpg" alt="">
            </div>
            <div class="text-wrapper">
                <h3 class="title">Title</h3>
                <p class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo corrupti dolore laboriosam. 
                </p>
                <p class="quantity">
                        Quantity: 2
                </p>
                <p class="price">
                    Price: 100 USD
                </p>
            </div>
            <div class="clear-item">
                <button>
                    <img width="30px" src="../../../assets/images/delete.svg" alt="">
                </button>
            </div>
        </div>
        <div class="text-wrapper">
            <div class="main-info">
                <div class="save-of-order">YOU SAVE: <span style="color: red;"><b>50% </b></span>OFF</div>
                <div class="grand-total" id="total-price">GRAND TOTAL:</div>
                <br>
            </div>
            <div class="actions">
                <button class="full-btn" style="padding: 5px" type="submit" id="checkout-button">Checkout</button>
            </div>
        </div>
        <div style="display: none;" class="pop-up">
            <hr>
            <div>
                <h2 style="margin-bottom: 25px">You don't have any orders yet.</h2>
                <a type="button" href="/order-page" class="getHome">Geo to shop! ➜</a>
            </div>
        </div>
    </div>
</div>