<div class="transportation-option-form">
    <mat-card class="admin-main-form">

        <mat-card-subtitle>
        Create Transportation Option
    </mat-card-subtitle>

        <mat-card-content class="items">
        <form [formGroup]="adminTransportationOptionForm" (ngSubmit)="onSubmit()">

            <mat-form-field class="form-field">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title">
            <button mat-button *ngIf="adminTransportationOptionForm.controls.title.value" matSuffix mat-icon-button aria-label="Clear" (click)="adminTransportationOptionForm.controls.title.reset()">
                <mat-icon>close</mat-icon>
            </button>
            </mat-form-field>

            <button mat-button color="primary" type="submit" [disabled]="!adminTransportationOptionForm.valid">Add Transportation Option</button>
            <button mat-button color="warn" class="close" (click)="close()">Close</button>

        </form>
        </mat-card-content>
    </mat-card>
</div>