<div class="product-form">
  <mat-card class="admin-main-form">

    <mat-card-subtitle>
      Create Product
    </mat-card-subtitle>

      <mat-card-content class="items">
        <form [formGroup]="adminProductForm" (ngSubmit)="onSubmit()">

          <mat-form-field class="form-field">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title">
            <button mat-button *ngIf="adminProductForm.controls.title.value" matSuffix mat-icon-button aria-label="Clear" (click)="adminProductForm.controls.title.reset()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>Home page title</mat-label>
            <input matInput type="text" formControlName="categoryId">
            <button mat-button *ngIf="adminProductForm.controls.categoryId.value" matSuffix mat-icon-button aria-label="Clear" (click)="adminProductForm.controls.categoryId.reset()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>Category description</mat-label>
            <textarea rows="6" matInput type="text" formControlName="orderInShoppingCart"> </textarea>
            <button mat-button *ngIf="adminProductForm.controls.orderInShoppingCart.value" matSuffix mat-icon-button aria-label="Clear" (click)="adminProductForm.controls.orderInShoppingCart.reset()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>Category description</mat-label>
            <textarea rows="6" matInput type="text" formControlName="inStore"> </textarea>
            <button mat-button *ngIf="adminProductForm.controls.inStore.value" matSuffix mat-icon-button aria-label="Clear" (click)="adminProductForm.controls.inStore.reset()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <div class="check-boxes-selections">
            <div class="selections">
              <div class="item type-select">
                <mat-form-field appearance="fill">
                  <mat-label>Choose an type of price</mat-label>
                  <select matNativeControl [disabled]="disableSelect.value"  formControlName="getPriceTypeId">
                    <option value="" selected></option>
                    <option value="volvo">Type 1</option>
                    <option value="saab" disabled>type 2</option>
                    <option value="mercedes">Type 3</option>
                  </select>
                </mat-form-field>
              </div>
              <div class="item price-input">
                <mat-form-field class="form-field">
                  <mat-label>Price for product</mat-label>
                  <input matInput type="text" (input)="onGetPrice($event)">
                </mat-form-field>
              </div>
            </div>
            <div class="checks">
              <mat-checkbox formControlName="isConsiderDiscount" class="example-margin">Consider Discount</mat-checkbox>
            </div>
          </div>

          <div class="view">
            <div class="chouse-file-input">
              <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
              <div><img [src]="url" *ngIf="url">
                <button mat-button *ngIf="adminProductForm.controls.imageOnProductPage.value" matSuffix mat-icon-button aria-label="Clear" (click)="adminProductForm.controls.imageOnProductPage.reset()">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <p>
                <input type="file" (change)="selectFile($event)" formControlName="imageOnProductPage">
              </p>
            </div>
            <div class="chouse-file-input">
              <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
              <div><img [src]="url" *ngIf="url">
                <button mat-button *ngIf="adminProductForm.controls.imageOnProductPage.value" matSuffix mat-icon-button aria-label="Clear" (click)="adminProductForm.controls.imageOnProductPage.reset()">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <p>
                <input type="file" (change)="selectFile($event)" formControlName="imageOnProductPage">
              </p>
            </div>
          </div>

          <button mat-button color="primary" type="submit" [disabled]="!adminProductForm.valid">Add Product</button>
          <button mat-button color="warn" class="close" (click)="close()">Close</button>

        </form>
      </mat-card-content>
  </mat-card>
</div>


